In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('meu_arquivo.csv', encoding = 'latin1', sep = ';')

In [7]:
df

    Nome  Idade       Sexo
0   João     21  Masculino
1  Maria     18   Feminino
2  Pedro     34  Masculino
3  Joana     25   Feminino

In [9]:
df = pd.read_excel('meu_arquivo.xlsx')

#para ler arquivos excel precisa instalar pip install openpyxl

In [10]:
df

    Nome  Idade       Sexo
0   João     21  Masculino
1  Maria     18   Feminino
2  Pedro     34  Masculino
3  Joana     25   Feminino

In [17]:
#ler arquivo em html
tabela_wiki = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')

In [42]:
tabela_wiki[1]

                   List of state symbols  \
                         Living insignia
0                                   Bird
1                              Butterfly
2                                   Fish
3                                 Flower
4                               Mushroom
5                                   Tree
6                     Inanimate insignia
7                               Beverage
8                                   Food
9                               Gemstone
10                                 Other
11                         State quarter
12                      Released in 2005
13  Lists of United States state symbols


                                    Living insignia.1
0                                         Common loon
1                                             Monarch
2                                             Walleye
3                       Pink-and-white lady's slipper
4                  Common morel (Morchella esculenta)
5                                      Norway pine[6]
6                                  Inanimate insignia
7                                                Milk
8   Fruit: Honeycrisp appleMuffin: BlueberryMushro...
9                                 Lake Superior agate
10                                  Photograph: Grace
11                                      State quarter
12                                   Released in 2005
13               Lists of United States state symbols

In [19]:
tabela_wiki

[                                            Minnesota  \
 0                                               State
 1                                            FlagSeal
 2   Nicknames: Land of 10,000 Lakes; North Star St...
 3   Motto: L'Étoile du Nord (French: The Star of t...
 4                           Anthem: "Hail! Minnesota"
 5   Map of the United States with Minnesota highli...
 6                                             Country
 7                                    Before statehood
 8                               Admitted to the Union
 9                                             Capital
 10                                       Largest city
 11                       Largest county or equivalent
 12                      Largest metro and urban areas
 13                                         Government
 14                                         • Governor
 15                              • Lieutenant Governor
 16                                        Legislature
 17                                      • Upper house
 18                                      • Lower house
 19                                          Judiciary
 20                                      U.S. senators
 21                              U.S. House delegation
 22                                               Area
 23                                            • Total
 24                                             • Land
 25                                            • Water
 26                                             • Rank
 27                                         Dimensions
 28                                           • Length
 29                                            • Width
 30                                          Elevation
 31           Highest elevation (Eagle Mountain[1][a])
 32          Lowest elevation (Lake Superior[1][a][2])
 33                                  Population (2023)
 34                                            • Total
 35                                             • Rank
 36                                          • Density
 37                                             • Rank
 38                          • Median household income
 39                                      • Income rank
 40                                            Demonym
 41                                           Language
 42                                • Official language
 43                                  • Spoken language
 44                                          Time zone
 45                                     • Summer (DST)
 46                                  USPS abbreviation
 47                                      ISO 3166 code
 48                           Traditional abbreviation
 49                                           Latitude
 50                                          Longitude
 51                                            Website

                                           Minnesota.1
 0                                               State
 1                                            FlagSeal
 2   Nicknames: Land of 10,000 Lakes; North Star St...
 3   Motto: L'Étoile du Nord (French: The Star of t...
 4                           Anthem: "Hail! Minnesota"
 5   Map of the United States with Minnesota highli...
 6                                       United States
 7                                 Minnesota Territory
 8              May 11, 1858 (32nd State in the Union)
 9                                          Saint Paul
 10                                        Minneapolis
 11                                           Hennepin
 12                             Minneapolis–Saint Paul
 13                                         Government
 14                                     Tim Walz (DFL)
 15                               Peggy Flanagan (DFL)
 16                                        Legislature
 17                                             Senate
 18                           House of Representatives
 19                            Minnesota Supreme Court
 20               Amy Klobuchar (DFL) Tina Smith (DFL)
 21                   4 Democrats 4 Republicans (list)
 22                                               Area
 23                      86,935.83 sq mi (225,163 km2)
 24                      79,626.74 sq mi (206,232 km2)
 25                  7,309.09 sq mi (18,930 km2) 8.40%
 26                                               12th
 27                                         Dimensions
 28                              about 400 mi (640 km)
 29                            200–350 mi (320–560 km)
 30                                   1,200 ft (370 m)
 31                                   2,301 ft (701 m)
 32                                     602 ft (183 m)
 33                                  Population (2023)
 34                                       5,737,915[3]
 35                                               22nd
 36                              68.9/sq mi (26.6/km2)
 37                                 36th (2020 census)
 38                                         $77,720[4]
 39                                               13th
 40                                         Minnesotan
 41                                           Language
 42                                               none
 43              English 88.9% Spanish Somali Hmong[5]
 44                               UTC– 06:00 (Central)
 45                                   UTC– 05:00 (CDT)
 46                                                 MN
 47                                              US-MN
 48                                              Minn.
 49                             43° 30′ N to 49° 23′ N
 50                             89° 29′ W to 97° 14′ W
 51                                             mn.gov  ,
                    List of state symbols  \
                          Living insignia
 0                                   Bird
 1                              Butterfly
 2                                   Fish
 3                                 Flower
 4                               Mushroom
 5                                   Tree
 6                     Inanimate insignia
 7                               Beverage
 8                                   Food
 9                               Gemstone
 10                                 Other
 11                         State quarter
 12                      Released in 2005
 13  Lists of United States state symbols


                                     Living insignia.1
 0                                         Common loon
 1                                             Monarch
 2                                             Walleye
 3                       Pink-and-white lady's slipper
 4                  Common morel (Morchella esculenta)
 5                                      Norway pine[6]
 6                                  Inanimate insignia
 7                                                Milk
 8   Fruit: Honeycrisp appleMuffin: BlueberryMushro...
 9                                 Lake Superior agate
 10                                  Photograph: Grace
 11                                      State quarter
 12                                   Released in 2005
 13               Lists of United States state symbols  ,
               Location July (°F) July (°C) January (°F) January (°C)
 0          Minneapolis     83/64     28/18         23/7       −4/−13
 1           Saint Paul     83/63     28/17         23/6       −5/−14
 2            Rochester     82/63     28/17         23/3       −5/−16
 3               Duluth     76/55     24/13         19/1       −7/−17
 4            St. Cloud     81/58     27/14        18/−1       −7/−18
 5              Mankato     86/62     30/16         23/3       −5/−16
 6  International Falls     77/52     25/11        15/−6       −9/−21,
    Largest cities or towns in Minnesota Source:[86]                         \
                                  Unnamed: 0_level_1                   Rank
 0                            Minneapolis Saint Paul                      1
 1                            Minneapolis Saint Paul                      2
 2                            Minneapolis Saint Paul                      3
 3                            Minneapolis Saint Paul                      4
 4                            Minneapolis Saint Paul                      5
 5                            Minneapolis Saint Paul                      6
 6                            Minneapolis Saint Paul                      7
 7                            Minneapolis Saint Paul                      8
 8                            Minneapolis Saint Paul                      9
 9                            Minneapolis Saint Paul                     10
 10                           Minneapolis Saint Paul  Rochester Bloomington

                                                                 \
              Name      County      Pop.     Unnamed: 5_level_1
 0     Minneapolis    Hennepin  425336.0  Rochester Bloomington
 1      Saint Paul      Ramsey  307193.0  Rochester Bloomington
 2       Rochester     Olmsted  121465.0  Rochester Bloomington
 3     Bloomington    Hennepin   89298.0  Rochester Bloomington
 4          Duluth   St. Louis   86372.0  Rochester Bloomington
 5   Brooklyn Park    Hennepin   84526.0  Rochester Bloomington
 6        Plymouth    Hennepin   79828.0  Rochester Bloomington
 7        Woodbury  Washington   76990.0  Rochester Bloomington
 8       Lakeville      Dakota   72812.0  Rochester Bloomington
 9          Blaine       Anoka   70935.0  Rochester Bloomington
 10            NaN         NaN       NaN                    NaN


    Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1
 0                 NaN                NaN                NaN                NaN
 1                 NaN                NaN                NaN                NaN
 2                 NaN                NaN                NaN                NaN
 3                 NaN                NaN                NaN                NaN
 4                 NaN                NaN                NaN                NaN
 5                 NaN                NaN                NaN                NaN
 6                 NaN                NaN                NaN                NaN
 7                 NaN                NaN                NaN                NaN
 8                 NaN                NaN                NaN                NaN
 9                 NaN                NaN                NaN                NaN
 10                NaN                NaN                NaN                NaN  ,
                                     Census  \
 0                                     1850
 1                                     1860
 2                                     1870
 3                                     1880
 4                                     1890
 5                                     1900
 6                                     1910
 7                                     1920
 8                                     1930
 9                                     1940
 10                                    1950
 11                                    1960
 12                                    1970
 13                                    1980
 14                                    1990
 15                                    2000
 16                                    2010
 17                                    2020
 18                             2023 (est.)
 19  Source: 1910–2020[87] 2022 Estimate[3]

                                       Pop.  \
 0                                     6077
 1                                   172023
 2                                   439706
 3                                   780773
 4                                  1310283
 5                                  1751394
 6                                  2075708
 7                                  2387125
 8                                  2563953
 9                                  2792300
 10                                 2982483
 11                                 3413864
 12                                 3804971
 13                                 4075970
 14                                 4375099
 15                                 4919479
 16                                 5303925
 17                                 5706494
 18                                 5737915
 19  Source: 1910–2020[87] 2022 Estimate[3]

                                       Note  \
 0                                      NaN
 1                                      NaN
 2                                      NaN
 3                                      NaN
 4                                      NaN
 5                                      NaN
 6                                      NaN
 7                                      NaN
 8                                      NaN
 9                                      NaN
 10                                     NaN
 11                                     NaN
 12                                     NaN
 13                                     NaN
 14                                     NaN
 15                                     NaN
 16                                     NaN
 17                                     NaN
 18                                     NaN
 19  Source: 1910–2020[87] 2022 Estimate[3]

                                         %±
 0                                        —
 1                                 2,730.7%
 2                                   155.6%
 3                                    77.6%
 4                                    67.8%
 5                                    33.7%
 6                                    18.5%
 7                                    15.0%
 8                                     7.4%
 9                                     8.9%
 10                                    6.8%
 11                                   14.5%
 12                                   11.5%
 13                                    7.1%
 14                                    7.3%
 15                                   12.4%
 16                                    7.8%
 17                                    7.6%
 18                                    0.6%
 19  Source: 1910–2020[87] 2022 Estimate[3]  ,
                         Race Percentage
 0                      White      77.5%
 1  Black or African American       7.0%
 2            American Indian       1.2%
 3                      Asian       5.3%
 4           Pacific Islander       0.1%
 5                 Other race       3.2%
 6          Two or more races       6.1%,
             Country  Population
 0            Mexico       95227
 1           Somalia       76658
 2   Hmong people[c]       55005
 3             India       39559
 4          Ethiopia       36982
 5              Laos       24901
 6             China       24353
 7           Vietnam       22283
 8           Liberia       20168
 9       South Korea       20126
 10         Thailand       19235
 11           Canada       18804
 12            Kenya       16823
 13          Myanmar       15679
 14      Philippines       13544
 15           Russia       12787
 16      El Salvador       12137,
     Year Republican         Democratic         Third party
     Year        No.       %        No.       %         No.       %
 0   2020    1484065  45.28%    1717077  52.40%       76029   2.32%
 1   2016    1323232  44.93%    1367825  46.44%      254176   8.63%
 2   2012    1320225  44.96%    1546167  52.65%       70169   2.39%
 3   2008    1275409  43.82%    1573354  54.06%       61606   2.12%
 4   2004    1346695  47.61%    1445014  51.09%       36678   1.30%
 5   2000    1109659  45.50%    1168266  47.91%      160760   6.59%
 6   1996     766476  34.96%    1120438  51.10%      305726  13.94%
 7   1992     747841  31.85%    1020997  43.48%      579110  24.66%
 8   1988     962337  45.90%    1109471  52.91%       24982   1.19%
 9   1984    1032603  49.54%    1036364  49.72%       15482   0.74%
 10  1980     873241  42.56%     954174  46.50%      224538  10.94%
 11  1976     819395  42.02%    1070440  54.90%       60096   3.08%
 12  1972     898269  51.58%     802346  46.07%       41037   2.36%
 13  1968     658643  41.46%     857738  54.00%       72129   4.54%
 14  1964     559624  36.00%     991117  63.76%        3721   0.24%
 15  1960     757915  49.16%     779933  50.58%        4039   0.26%
 16  1956     719302  53.68%     617525  46.08%        3178   0.24%
 17  1952     763211  55.33%     608458  44.11%        7814   0.57%
 18  1948     483617  39.89%     692966  57.16%       35643   2.94%
 19  1944     527416  46.86%     589864  52.41%        8249   0.73%
 20  1940     596274  47.66%     644196  51.49%       10718   0.86%
 21  1936     350461  31.01%     698811  61.84%       80703   7.14%
 22  1932     363959  36.29%     600806  59.91%       38078   3.80%
 23  1928     560977  57.77%     396451  40.83%       13548   1.40%
 24  1924     420759  51.18%      55913   6.80%      345474  42.02%
 25  1920     519421  70.59%     142994  19.43%       73423   9.98%
 26  1916     179544  46.35%     179152  46.25%       28668   7.40%
 27  1912      64334  19.25%     106426  31.84%      163459  48.91%
 28  1908     195843  59.11%     109401  33.02%       26060   7.87%
 29  1904     216651  73.98%      55187  18.84%       21022   7.18%
 30  1900     190461  60.21%     112901  35.69%       12949   4.09%
 31  1896     193503  56.62%     139735  40.89%        8524   2.49%
 32  1892     122823  45.96%     100920  37.76%       43495  16.28%
 33  1888     142492  54.12%     104385  39.65%       16408   6.23%
 34  1884     111685  58.78%      70065  36.87%        8267   4.35%
 35  1880      93902  62.28%      53315  35.36%        3553   2.36%
 36  1876      72955  58.80%      48587  39.16%        2533   2.04%
 37  1872      55708  61.27%      35211  38.73%           0   0.00%
 38  1868      43722  60.88%      28096  39.12%           0   0.00%
 39  1864      25055  59.06%      17367  40.94%           0   0.00%
 40  1860      22069  63.53%      11920  34.31%         748   2.15%,
                        0                                                  1  \
 0  Preceded byCalifornia  List of U.S. states by date of statehood Admit...

                     2
 0  Succeeded byOregon  ,
      Topics related to Minnesota Land of 10,000 Lakes  \
 0   vteState of MinnesotaSaint Paul (capital)Topic...
 1                               vteState of Minnesota
 2                                Saint Paul (capital)
 3                                              Topics
 4                                             Society
 ..                                                ...
 94                                   Federal district
 95                                        Territories
 96                                   Outlying islands
 97                                Indian reservations
 98                          International concessions

    Topics related to Minnesota Land of 10,000 Lakes.1
 0   vteState of MinnesotaSaint Paul (capital)Topic...
 1                               vteState of Minnesota
 2                                Saint Paul (capital)
 3   Index Outline Biking/Cycling Cities Climate (C...
 4   Abortion Culture Crime Demographics Economy Ed...
 ..                                                ...
 94                                   Washington, D.C.
 95  American Samoa Guam Northern Mariana Islands P...
 96  Baker Island Howland Island Jarvis Island John...
 97                        List of Indian reservations
 98                            Guantanamo Bay Pituffik

 [99 rows x 2 columns],
              vteState of Minnesota  \
 0             Saint Paul (capital)
 1                           Topics
 2                          Society
 3                          Regions

In [20]:
type(tabela_wiki)

list

In [22]:
print(f'Total de {len(tabela_wiki)} tabelas')

Total de 28 tabelas

In [50]:
tabela_wiki_Largest_cities  = pd.read_html('https://en.wikipedia.org/wiki/Minnesota',match = 'Largest cities or towns in Minnesota')

In [52]:
tabela_wiki_Largest_cities[0]

   Largest cities or towns in Minnesota Source:[86]                         \
                                 Unnamed: 0_level_1                   Rank
0                            Minneapolis Saint Paul                      1
1                            Minneapolis Saint Paul                      2
2                            Minneapolis Saint Paul                      3
3                            Minneapolis Saint Paul                      4
4                            Minneapolis Saint Paul                      5
5                            Minneapolis Saint Paul                      6
6                            Minneapolis Saint Paul                      7
7                            Minneapolis Saint Paul                      8
8                            Minneapolis Saint Paul                      9
9                            Minneapolis Saint Paul                     10
10                           Minneapolis Saint Paul  Rochester Bloomington

                                                                \
             Name      County      Pop.     Unnamed: 5_level_1
0     Minneapolis    Hennepin  425336.0  Rochester Bloomington
1      Saint Paul      Ramsey  307193.0  Rochester Bloomington
2       Rochester     Olmsted  121465.0  Rochester Bloomington
3     Bloomington    Hennepin   89298.0  Rochester Bloomington
4          Duluth   St. Louis   86372.0  Rochester Bloomington
5   Brooklyn Park    Hennepin   84526.0  Rochester Bloomington
6        Plymouth    Hennepin   79828.0  Rochester Bloomington
7        Woodbury  Washington   76990.0  Rochester Bloomington
8       Lakeville      Dakota   72812.0  Rochester Bloomington
9          Blaine       Anoka   70935.0  Rochester Bloomington
10            NaN         NaN       NaN                    NaN


   Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1
0                 NaN                NaN                NaN                NaN
1                 NaN                NaN                NaN                NaN
2                 NaN                NaN                NaN                NaN
3                 NaN                NaN                NaN                NaN
4                 NaN                NaN                NaN                NaN
5                 NaN                NaN                NaN                NaN
6                 NaN                NaN                NaN                NaN
7                 NaN                NaN                NaN                NaN
8                 NaN                NaN                NaN                NaN
9                 NaN                NaN                NaN                NaN
10                NaN                NaN                NaN                NaN

In [58]:
dados = [[1, 'alex', 'recife'],[2, 'augusto', 'paulista'],[3, 'jose', 'olinda']]

df = pd.DataFrame(dados, columns = ['id', 'nome','cidade'])

df.head()

   id     nome    cidade
0   1     alex    recife
1   2  augusto  paulista
2   3     jose    olinda

In [61]:
df.to_csv('novo_arquivo.csv', index = False, encoding ='latin1')

df.to_excel('novo_arquivo.xlsx', index = False)